* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    padding: 20vh;
    /* display: flex; */
    /* justify-content: start; */
    /* align-items: center; */
    border: 2px solid black;
    background-color: gray;
    

}